@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.intersection-flow .react-flow__node:hover {
  outline: 3px solid #6ca579 !important;
  background-color: rgba(108, 165, 121, 0.3) !important;
  cursor: pointer;
}

.react-flow__nodes_selection-rect {
  outline: 3px solid #6ca579 !important;
}

.intersection-flow .react-flow__handle {
  height: 40px;
  width: 40px;
  border-radius: 20px !important;
  outline: 3px solid #6ca579 !important;
  margin-right: -15px;
  margin-left: -15px;
  background-color: rgba(108, 165, 121, 0.3) !important;
}

.selected {
  /* outline: 3px solid #6ca579 !important; */

  background-color: rgba(108, 165, 121, 0.3) !important;
  z-index: 9999 !important;
}

.react-flow__selection {
  background-color: rgba(108, 165, 121, 0.3) !important;
  outline: 3px solid red !important;
}

.react-flow__node.selectable:focus {
  background-color: rgba(108, 165, 121, 0.3) !important;
  outline: 3px solid #6ca579 !important;
}
