.node1_center {
  height: 160px !important;
  width: 160px !important;
  border-radius: 50%;
  color: white;
  border: 2px solid white;
  font-size: 24px !important;
  display: flex;
  align-items: center;
  backdrop-filter: blur(20px) !important;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  word-break: break-all;
  white-space: normal;
}

.node2_center {
  height: 160px !important;
  width: 160px !important;
  border-radius: 50%;
  border: 2px solid mistyrose;
  color: white;
  font-size: 24px !important;
  display: flex;
  align-items: center;
  backdrop-filter: blur(20px);
  overflow: hidden;
  justify-content: center;
  text-align: center;
  word-break: break-all;
  white-space: normal;
}

.node1_level1_node {
  height: 120px !important;
  width: 120px !important;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  font-size: 24px !important;
  display: flex;
  align-items: center;
  backdrop-filter: blur(20px);
  overflow: hidden;
  justify-content: center;
  text-align: center;
  word-break: break-all;
  white-space: normal;
}

.node2_level1_node {
  height: 120px !important;
  width: 120px !important;
  border-radius: 50%;
  border: 2px solid mistyrose;
  color: white;
  font-size: 24px !important;
  display: flex;
  align-items: center;
  overflow: hidden;
  backdrop-filter: blur(20px);
  justify-content: center;
  text-align: center;
  word-break: break-all;
  white-space: normal;
}

.node1_level2_node {
  height: 100px !important;
  width: 100px !important;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  font-size: 16px !important;
  display: flex;
  align-items: center;
  overflow: hidden;
  backdrop-filter: blur(20px);
  justify-content: center;
  text-align: center;
  word-break: break-all;
  white-space: normal;
  padding: 20px 0px;
}

.node2_level2_node {
  height: 100px !important;
  width: 100px !important;
  border-radius: 50%;
  border: 2px solid mistyrose;
  color: white;
  font-size: 16px !important;
  display: flex;
  align-items: center;
  overflow: hidden;
  backdrop-filter: blur(20px);
  justify-content: center;
  text-align: center;
  word-break: break-all;
  white-space: normal;
  padding: 20px 0px;
}

.node1_level3_node {
  height: 58px !important;
  width: 192px !important;
  border-radius: 12px;
  border: 2px solid mistyrose;
  color: white;
  font-size: 16px !important;
  display: flex;
  align-items: center;
  overflow: hidden;
  backdrop-filter: blur(20px);
  justify-content: center;
  word-break: break-all;
  text-align: center;
  white-space: normal;
}

.node2_level3_node {
  height: 58px !important;
  width: 192px !important;
  border-radius: 12px;
  border: 2px solid mistyrose;
  color: white;
  font-size: 16px !important;
  display: flex;
  align-items: center;
  overflow: hidden;
  backdrop-filter: blur(20px);
  justify-content: center;
  word-break: break-all;
  text-align: center;
  white-space: normal;
}
/* box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.8) !important; */

.node1_center :global .react-flow__handle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}
.node2_center :global .react-flow__handle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}
.node1_level1_node :global .react-flow__handle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}
.node1_level2_node :global .react-flow__handle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}
.node1_level3_node :global .react-flow__handle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}
.node2_level1_node :global .react-flow__handle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}
.node2_level2_node :global .react-flow__handle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}
.node2_level3_node :global .react-flow__handle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

/* .center{
    border-radius: 50%;
  height: 225px !important;
  width: 225px !important;
  font-size: 32px !important;
  border-width: 8px;
  border-color: #ff66aa;
  border-style: dashed;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;} */
