:root {
  --node-color: #7b7c7b;
  --node-hover-color: #6ca579;
  --node-hover-bg: rgba(108, 165, 121, 0.3);
  --node-height: 160px;
  --node-width: 160px;
  --node-font-size: 24px;
  --node-background-color: rgba(108, 165, 121, 0.3);
}

%node-base {
  border-radius: 50%;
  color: var(--node-color);
  outline: 2px solid var(--node-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-all;
  white-space: normal;
  overflow: hidden;
  backdrop-filter: blur(20px);
  font-size: var(--node-font-size);
  height: var(--node-height);
  width: var(--node-width);
}

.node1_center {
  @extend %node-base;
}

.node1_center_brain_storm {
  @extend %node-base;
  outline: 2px solid #c4c4c4 !important;
}
.node1_center_brain_storm_hover {
  @extend %node-base;

  outline: 2px solid #c4c4c4 !important;
  background-color: var(--node-background-color) !important;
}

.node1_center_hover {
  @extend %node-base;
  color: var(--node-hover-color);
  outline: 3px solid var(--node-hover-color);
  background-color: var(--node-background-color) !important;
}

.node1_level1_node {
  @extend %node-base;
  --node-height: 120px;
  --node-width: 120px;
}

.node1_level1_node_brain_storm {
  @extend %node-base;
  --node-height: 120px;
  --node-width: 120px;
  outline: 2px solid #c4c4c4 !important;
}

.node1_level1_node_brain_storm_hover {
  @extend %node-base;
  --node-height: 120px;
  --node-width: 120px;

  outline: 2px solid #c4c4c4 !important;
  background-color: var(--node-background-color) !important;
}

.node1_level1_node_hover {
  @extend %node-base;
  --node-height: 120px;
  --node-width: 120px;
  background-color: var(--node-background-color) !important;
}

.node1_level2_node {
  @extend %node-base;
  --node-height: 100px;
  --node-width: 100px;
}

.node1_level2_node_brain_storm {
  @extend %node-base;
  --node-height: 100px;
  --node-width: 100px;
}

.node1_level2_node_hover {
  @extend %node-base;
  --node-height: 100px;
  --node-width: 100px;

  background-color: var(--node-background-color) !important;
}

.node1_level2_node_brain_storm_hover {
  @extend %node-base;
  --node-height: 100px;
  --node-width: 100px;
  background-color: var(--node-background-color) !important;
}

.node1_level3_node {
  @extend %node-base;
  --node-height: 58px;
  --node-width: 192px;
  border-radius: 12px;
  font-size: 20px !important;
  word-break: break-all;
  text-align: center;
  white-space: normal;
}

.node1_level3_node_brain_storm {
  @extend %node-base;
  --node-height: 58px;
  --node-width: 192px;
  border-radius: 12px;
  font-size: 20px !important;
  word-break: break-all;
  text-align: center;
  white-space: normal;
  outline: 2px solid #c4c4c4 !important;
}

.node1_level3_node_brain_storm_hover {
  @extend %node-base;
  --node-height: 58px;
  --node-width: 192px;
  border-radius: 12px;
  font-size: 20px !important;
  word-break: break-all;
  text-align: center;
  white-space: normal;
  outline: 2px solid #c4c4c4 !important;
  background-color: var(--node-background-color) !important;
}

.node1_level3_node_is_launched {
  @extend %node-base;
  --node-height: 58px;
  --node-width: 192px;
  border-radius: 12px;
  background-color: #ece0d0 !important;
  font-size: 20px !important;
  word-break: break-all;
  text-align: center;
  white-space: normal;
}

.node1_level3_node_hover {
  @extend %node-base;
  --node-height: 58px;
  --node-width: 192px;
  border-radius: 12px;
  outline: 3px solid #6ca579;
  background-color: var(--node-background-color) !important;
  color: var(--node-hover-color);
  font-size: 20px !important;
  word-break: break-all;
  text-align: center;
  white-space: normal;
}

/* box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.8) !important; */

.node1_center :global .react-flow__handle,
.node1_center_brain_storm :global .react-flow__handle,
.node1_center_brain_storm_hover :global .react-flow__handle,
.node1_center_hover :global .react-flow__handle,
.node1_level1_node :global .react-flow__handle,
.node1_level1_node_brain_storm :global .react-flow__handle,
.node1_level1_node_brain_storm_hover :global .react-flow__handle,
.node1_level2_node :global .react-flow__handle,
.node1_level2_node_brain_storm :global .react-flow__handle,
.node1_level2_node_brain_storm_hover :global .react-flow__handle,
.node1_level3_node :global .react-flow__handle,
.node1_level3_node_brain_storm :global .react-flow__handle,
.node1_level3_node_brain_storm_hover :global .react-flow__handle,
.node1_level3_node_is_launched :global .react-flow__handle,
.node2_level3_node :global .react-flow__handle,
.node1_level1_node_hover :global .react-flow__handle,
.node1_level2_node_hover :global .react-flow__handle,
.node1_level3_node_hover :global .react-flow__handle,
.node1_level3_node_is_launched :global .react-flow__handle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

/* .center{
    border-radius: 50%;
  height: 225px !important;
  width: 225px !important;
  font-size: 32px !important;
  border-width: 8px;
  border-color: #ff66aa;
  border-style: dashed;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;} */
