@tailwind base;
@tailwind components;
@tailwind utilities;

.contentPage {
  @apply absolute left-20 top-24 h-[calc(100vh-96px)] w-[calc(100vw-80px)];
}

.monster {
  display: flex;
}

.journeyCard {
}
.journeyCard .monster-eye {
  transform: translate(var(--x), var(--y));
  transition: 0.4s linear;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
